<form (ngSubmit)="login()">
  <label for="email">Email: </label>
  <input type="text"
         id="email"
         name="email"
         [formControl]="email"
         required>
  <div class="error" *ngIf="submitted && email.hasError('required')">
    Email is required.
  </div>
  <div class="error" *ngIf="submitted && email.hasError('email')">
    Email is invalid.
  </div>
  <br>
  <label for="password">Password: </label>
  <input type="password"
         id="password"
         name="password"
         [formControl]="password"
         required>
  <br>
  <div class="error" *ngIf="submitted && password.hasError('required')">
    Password is required.
  </div>
  <input type="submit" value="Login">
</form>
